<div class="scrollable">
    <h1 class="scrollable-header app-name">BEE Found</h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <div>
            <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/users">Directorio <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/noticias">Noticias <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/calendario">Calendario <i class="fa fa-chevron-right pull-right"></i></a>
            </div>
        </div>
    </div>
</div>