<style>
    .twitter-timeline-rendered {
        width: 100% !important;
        min-height: 320px !important;
    }
</style>

<a class="twitter-timeline" data-widget-id="603139835654742016" href="https://twitter.com/beeva_es" data-screen-name="beeva_es">
    Cargando Tweets by @beeva_es
</a>

<script src="js/lib/twitter-timeline.js"></script>
<script>
    // Resize widget to full window height
    $(window).ready(function(){
       setTimeout(
           function(){
               $('.twitter-timeline-rendered').css('height', $(window).height() + 'px');
           } , 1000 );
    });
</script>